body {
  color: lightblue;
  background-color: grey;
  margin: 120px;
  margin-top: 300px;
  font-family: helvetica;
}

h1 {
	font-size: 120px;
	text-align: center;
	color: plum;

}

h2 { color: aquamarine;



}
h3 {
	color: darkturquoise;
}

h4 {
	color: darkturquoise;
}

p {
	text-indent: 5px;
}

li { 
	list-style-type: square;
	margin-left: 145px;

  }